certifi==2022.12.7
click==6.7
CommonMark==0.5.4
docutils==0.14
Jinja2>=2.10.1 # https://nvd.nist.gov/vuln/detail/CVE-2019-10906 
livereload==2.5.1
Markdown==2.6.10
MarkupSafe==1.0
mkdocs==0.17.2
recommonmark==0.4.0
six==1.11.0
tornado==4.5.2
wincertstore==0.2
pyyaml>=4.2b1
